body {
  padding: 0;
  margin: 0;
  perspective: 1500px;
  background: #403833;
}
.stage {
  margin: 50px auto;
  width: 500px;
  height: 200px;
  text-align: center;
  line-height: 50px;
  color: white;
}
.stage .left {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #DB2F00;
  animation: firstmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) infinite alternate;
}
.stage .left .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .two {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #ff6d37;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.1s infinite alternate;
}
.stage .two .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .three {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #ffa489;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.2s infinite alternate;
}
.stage .three .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .right {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #f2f2f2;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.3s infinite alternate;
}
.stage .right .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .five {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #99d3d4;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.4s infinite alternate;
}
.stage .five .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .six {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #56bebf;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.5s infinite alternate;
}
.stage .six .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
.stage .seven {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #13A3A5;
  margin-left: 10px;
  animation: lastmove 0.5s cubic-bezier(0.25, 0.1, 0.49, 1.2) 0.6s infinite alternate;
}
.stage .seven .mask {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-110deg) translateZ(40px);
}
@keyframes firstmove {
  form {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(30px);
  }
}
@keyframes lastmove {
  form {
    transform: translateX(20px);
  }
  to {
    transform: translateX(30px);
  }
}
/*# sourceMappingURL=./style.css.map */